#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover,
h1:hover,
h2:hover {
  background-color: yellow;
  color: black;
}

button {
  cursor: pointer;
}

body {
  background-image: url("/otter_5o.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: beige;
  color: black;
  display: flex;
  margin: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  font-family: Arial;
}

div {
  margin: 2px;
}

#videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  /* height: 100vh; */
  /* overflow: hidden; */
}

#local {
}

#remote {
}

/* .screen-share {
  height: 100vh;
  width: auto;
} */

.smallFrame {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 170px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid #b366f9;
  z-index: 999;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}

.control-container {
  background-color: rgb(179, 102, 249, 0.9);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img {
  height: 30px;
  width: 30px;
}
